:root {
  --ToggleSwitchlength: 400px; /* give length of the element*/
  --ratioofwidthbylength: 0.3; /* give width to length ratio in css*/
  /* Above two inputs are enough to change the element style */
  --toggleSwitchHeight: calc(
    var(--ratioofwidthbylength) * var(--ToggleSwitchlength)
  );
  --BorderraduisGap: calc(0.08 * var(--toggleSwitchHeight));
  --switchRadus: calc(0.86 * var(--toggleSwitchHeight));
}

.toggle-button-cover {
  display: flex;
  width: var(--ToggleSwitchlength);
  height: var(--toggleSwitchHeight);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top-cover {
  position: relative;
  width: var(--ToggleSwitchlength);
  height: var(--toggleSwitchHeight);
}

.checkbox-element {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.top-cover.radius-style,
.top-cover.radius-style .layer {
  border-radius: calc(0.5 * var(--toggleSwitchHeight));
}

#button-element .knobs:before {
  display: flex;
  content: "YES";
  position: absolute;
  top: var(--BorderraduisGap);
  left: var(--BorderraduisGap);
  width: var(--switchRadus);
  height: var(--switchRadus);
  color: #fff;
  font-size: calc(0.4 * var(--toggleSwitchHeight));
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.2s cubic-bezier(0.12, 0, 0.39, 0);
}

#button-element .checkbox-element:checked + .knobs:before {
  content: "NO";
  left: calc(
    var(--ToggleSwitchlength) - var(--BorderraduisGap) - var(--switchRadus)
  );
  background-color: #f44336;
}

#button-element .checkbox-element:checked ~ .layer {
  background-color: #fcebeb;
}
