*,
*::after,
*::before {
  outline: 1px solid aquamarine;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: wheat;
  box-sizing: border-box;
}

.header {
  background-color: white;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 15px 9px 4px rgba(0, 0, 0, 0.1);
}

.main {
  height: 90%;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header p {
  display: inline;
}

/* .btn-outline-success:hover,
.btn-outline-secondary:hover,
.btn-outline-info:hover,
.btn-outline-dark:hover,
.btn-outline-warning:hover,
.btn-outline-primary:hover {
  color: var(--bs-btn-hover-bg);
  background-color: var(--bs-btn-hover-color);
  border-color: var(--bs-btn-hover-border-color);
  font-weight: bolder;
} */

.btn-outline-success,
.btn-outline-secondary,
.btn-outline-info,
.btn-outline-dark,
.btn-outline-warning,
.btn-outline-primary {
  font-weight: bolder;
}

.first-click:hover {
  background-color: white;
  color: var(--bs-btn-hover-bg);
}

.with-outline:hover {
  background-color: var(--bs-btn-hover-bg);
  color: white;
}

.without-outline:hover {
  color: var(--bs-btn-hover-bg);
  background-color: white;
  font-weight: bolder;
}
