body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.filtersContiner {
  border: 1px solid #e68383;
  width: calc(0.97 * 100vw);
  height: calc(0.33 * 100vh);
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
}

.filter {
  border: 1px solid red;
  width: fit-content;
  flex-basis: 150px;
  flex: 1;
}

.race {
  flex-basis: 90px;
}

.charts {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.chart {
  border: 1px solid #333;
  width: calc(0.32 * 100vw);
  height: calc(0.48 * 100vh);
  margin: calc(0.01 * 100vh / 3) calc(0.025 * 100vw / 6);
  box-sizing: border-box;
}

.emptyPlaceInBottom {
  height: calc(0.05 * 100vh);
  box-sizing: border-box;
}
