* {
  outline: 1px solid aquamarine;
}

body,
.container-fluid,
.row {
  margin: 0%;
  padding: 0%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
}

.row {
  text-align: center;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  width: max-content;
  height: 28px;
}

.btn-success {
  display: inline;
  flex: 1;
}

.button-block {
  display: flex;
  justify-content: space-between;
}
