@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* outline: 1px solid aquamarine; */
}

:root {
  /* Primary colors  */
  --light_red: hsl(0, 100%, 67%);
  --orange_yellow: hsl(39, 100%, 56%);
  --green_teal: hsl(166, 100%, 37%);
  --cobalt_blue: hsl(234, 85%, 45%);

  /* Gradient colors  */
  --light_slate_blue: hsl(252, 100%, 67%);
  --light_royal_blue: hsl(241, 81%, 54%);

  --violet_blue: hsla(256, 72%, 46%, 1);
  --persian_blue: hsla(241, 72%, 46%, 0);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --pale_blue: hsl(221, 100%, 96%);
  --light_lavender: hsl(241, 100%, 89%);
  --dark_gray_blue: hsl(224, 30%, 27%);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Hanken Grotesk", sans-serif;
  align-items: center;
}

.main-progress-card {
  height: 56%;
  width: 36%;
  display: flex;
}

.part1-progress-card,
.part2-progress-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.part1-progress-card {
  background: linear-gradient(
    to bottom,
    var(--light_slate_blue) 1%,
    var(--light_royal_blue) 99%
  );
  border-radius: 20px;
  text-align: center;
  color: var(--white);
}

.progress-card-tag {
  font-size: large;
  text-align: center;
  margin-top: 8%;
  color: var(--light_lavender);
  margin-bottom: 8%;
}

.main-score {
  height: 35%;
  width: 50%;
  border-radius: 50%;
  align-self: center;
  background: linear-gradient(
    to bottom,
    var(--violet_blue),
    var(--persian_blue)
  );
  color: var(--white);
}

.Score-numerator {
  font-size: 3.5em;
  font-weight: bolder;
  margin-top: 8%;
  margin-bottom: 8%;
}

.Score-denomenator {
  color: var(--light_lavender);
  font-weight: bold;
}

.appreciation {
  columns: var(--persian_blue);
  font-size: x-large;
  margin-top: 5%;
}
.message-after-appreciation {
  font-size: medium;
  color: var(--light_lavender);
  margin: 10%;
}

.part2-progress-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0.16em 0px 1px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding: 5%;
}

.summary-card {
  align-self: self-start;
  margin-top: 4%;
  margin-bottom: 4%;
  font-weight: bolder;
  font-size: x-large;
  margin-top: 10%;
}
