* {
  outline: 1px aquamarine solid;
}

body {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
}

section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 44%;
  height: 60vh;
  margin: 0px;
  border-radius: 20px;
  background-color: whitesmoke;
}

.panel1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  align-items: center;
}

.part1 {
  background-color: rgba(61, 61, 241, 0.882);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.part2 {
  box-shadow: 4px 4px 7px 2px rgba(245, 245, 0, 0.293);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
