@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary colors  */
    --light_red: hsl(0, 100%, 67%);
    --orange_yellow: hsl(39, 100%, 56%);
    --green_teal: hsl(166, 100%, 37%);
    --cobalt_blue: hsl(234, 85%, 45%);

    /* Gradient colors  */
    --light_slate_blue: hsl(252, 100%, 67%);
    --light_royal_blue: hsl(241, 81%, 54%);

    --violet_blue: hsla(256, 72%, 46%, 1);
    --persian_blue: hsla(241, 72%, 46%, 0);

    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light_lavender: hsl(241, 100%, 89%);
    --dark_gray_blue: hsl(224, 30%, 27%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 100%;
	height: 100vh;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.results .container {
    width: 512px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.performance-card {
    width: 100%;
    max-width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, var(--light_slate_blue) 1%, var(--light_royal_blue) 99%);
    border-radius: 20px;
    text-align: center;
    color: var(--white);
    margin: 0 -50px 0 0;
    z-index: 1;
}

.title {
    margin: 20px;
    font-size: 18px;
    color: var(--light_lavender);
}

.score {
    background: linear-gradient(to bottom, var(--violet_blue), var(--persian_blue));
    border-radius: 50%;
    padding: 1rem 2rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

.score h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: -10px;
}

.score p {
    font-size: 15px;
    opacity: .6;
    color: var(--light_lavender);
}

.performance {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.performances {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.performance-description {
    padding: 0 20px;
    font-size: 15px;
    color: var(--light_lavender);
}

.summary-card {
    width: 100%;
    max-width: 512px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #000000;
    box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 30px 80px;
    gap: 1.5rem;
}

.summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
}

.summary-item-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary-title {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 5px;
}

.summary-title h2 {
    font-weight: 800;
    font-size: 22px;
    color: var(--dark_gray_blue);
}

.summary-total {
    font-size: 15px;
    color: var(--dark_gray_blue);
}

.summary-score {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}

.summary-item:nth-of-type(1) {
    color: var(--light_red);
    background-color: hsla(0, 100%, 67%, .05);
}

.summary-item:nth-of-type(2) {
    color: var(--orange_yellow);
    background-color: hsla(39, 100%, 48%, 0.05);
}

.summary-item:nth-of-type(3) {
    color: var(--green_teal);
    background-color: hsla(166, 100%, 37%, .05);
}

.summary-item:nth-of-type(4) {
    color: var(--cobalt_blue);
    background-color: hsla(234, 85%, 45%, .05);
}

button {
    outline: 0;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 17px;
    background-color: var(--dark_gray_blue);
    color: var(--white);
    cursor: pointer;
    transition: .5s all ease;
}

button:hover {
    background: linear-gradient(to bottom, var(--light_slate_blue) 1%, var(--light_royal_blue) 99%);
}

@media (max-width: 568px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .results .container {
        width: 100%;
        flex-direction: column;
    }

    .performance-card {
        padding: 50px;
        max-height: none;
        max-width: none;
        margin: -2rem 0 0 0;
    }

    .summary-card {
        padding: 2rem;
        gap: 2rem;
        max-width: none;
        box-shadow: none;
    }
}


